<div id="content">
    <div id="siteNotice">
    </div>
    <h1 id="firstHeading" class="firstHeading">Anonymous Case #ID: ${x.data._id}</h1>
    <div id="bodyContent">
        <p><b>Case Type:</b>Anonymous Submission</p>
        <p><b>Date Created:</b>${.data.createdAt}</p>
    </div>
</div>

<!-- <% for ( let result of data ) { %>
                <tr>
                    <td> <%= result._id %> </td>
                    <td>Toronto</td>
                    <td>Ontario</td>
                    <td>Canada</td>
                    <td><%= result.lat %></td>
                    <td><%= result.lng %></td>
                    <td><button class="uk-button uk-button-danger" type="button">Delete</button></td>
                </tr>
                <% } %> -->