<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/">Map</a></li>
            <li class="uk-parent"><a href="/case/viewCasesPage">Anonymous Submissions</a></li>
            <li class="uk-parent"><a href="/privacy">Privacy Policy</a></li>
            <li class="uk-parent"><a href="/about">About Web App</a></li>

        </ul>
    </div>

    <a class="uk-navbar-item uk-logo" href="#">Covid19 Response</a>

    <div class="uk-navbar-right">
        <ul class="uk-iconnav">
            <li>
                <button class="uk-button uk-button-primary uk-margin-small-right" type="button"
                    uk-toggle="target: #modal-group-3">Notification Signup</button>
            </li>
            <li>
                <button class="uk-button uk-button-primary uk-margin-small-right" type="button"
                    uk-toggle="target: #modal-group-1">Add Anonymous Submission</button>
            </li>
            <li>
                <button class="uk-button uk-button-primary uk-margin-small-right" type="button"
                    uk-toggle="target: #modal-group-2">Inform Someone</button>
            </li>


        </ul>
    </div>
</nav>