<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../includes/head.ejs') %>
    <title>Covid Front End Project</title>
</head>

<body>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="http://localhost:3000">Map</a></li>
                <li class="uk-parent"><a href="http://localhost:3000/case/viewCasesPage">Anonymous Submissions</a></li>
                <li class="uk-parent"><a href="http://localhost:3000/privacy">Privacy Policy</a></li>
                <li class="uk-parent"><a href="http://localhost:3000/about">About Web App</a></li>

            </ul>
        </div>

        <a class="uk-navbar-item uk-logo" href="#">Covid19 Response</a>

        <div class="uk-navbar-right">
            <ul class="uk-iconnav">
                <li>
                    <button class="uk-button uk-button-primary uk-margin-small-right" type="button">Go Home</button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="uk-alert-danger" uk-alert style="margin-top: 0px; margin-bottom: 0;">
        <a class="uk-alert-close" uk-close></a>
        <center>
            <p>Please Visit Privacy Policy and About page for important information regarding this Web App and our
                Mission.
            </p>
        </center>
    </div>

    <div class="uk-container">
        <form class="uk-grid-small" uk-grid style="margin-top: 10px;">
            <div class="uk-width-1-2@s">
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: search"></span>
                        <input id="search__input__query" class="uk-input uk-form-width-large" type="text"
                            placeholder="Select search Type and enter Search Query">
                    </div>
                </div>
            </div>
            <div class="uk-width-1-4@s">
                <div class="uk-margin">
                    <div uk-form-custom="target: > * > span:first-child">
                        <select id="form__select__search">
                            <option value="">Please select...</option>
                            <option value="1">Country</option>
                            <option value="2">Province</option>
                            <option value="3">City</option>
                            <option value="4">Neighborhood</option>
                        </select>
                        <button class="uk-button uk-button-default" type="button" tabindex="-1">
                            <span id="search__Type__selected__option"></span>
                            <span uk-icon="icon: chevron-down"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-4@s">
                <button id="case__search__query__button" class="uk-button uk-button-default" type="button"
                    tabindex="-1">Get Search Results</button>
            </div>
        </form>

        <table class="uk-table uk-table-justify uk-table-divider">
            <thead>
                <tr>
                    <th class="uk-width-small">Case Number</th>
                    <th>Neighborhood</th>
                    <th>City</th>
                    <th>province</th>
                    <th>Country</th>
                    <th>Lat</th>
                    <th>Lng</th>
                    <th>Date Submitted</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="caseResults">

            </tbody>
        </table>
        <ul class="uk-pagination">
            <li><a id="page__case__previous" href="#"><span class="uk-margin-small-right" uk-pagination-previous></span>
                    Previous</a></li>

            <li class="uk-margin-auto-left"><a id="page__case__next" href="#">Next <span class="uk-margin-small-left"
                        uk-pagination-next></span></a></li>
            <input id="case__page" type="hidden" value="1">
        </ul>


    </div>

    </div>


    <script src="/static/uikit-3.4.2/js/uikit.min.js"></script>
    <script src="/static/uikit-3.4.2/js/uikit-icons.min.js"></script>
    <script type="module" src="/static/js/renderCasesView.js"></script>
</body>

</html>