 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
 #map {
     height: 100%;
 }

 /* Optional: Makes the sample page fill the window. */
 html,
 body {
     height: 100%;
     margin: 0;
     padding: 0;
 }

 #description {
     font-family: Roboto;
     font-size: 15px;
     font-weight: 300;
 }

 #infowindow-content .title {
     font-weight: bold;
 }

 #infowindow-content {
     display: noneœ;
 }

 #map {
     width: 100vw;
     height: 95vh;
 }

 .pac-card {
     margin: 10px 10px 0 0;
     border-radius: 2px 0 0 2px;
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     outline: none;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
     background-color: #fff;
     font-family: Roboto;
 }

 .pac-container {
     z-index: 2150000000;
 }

 #pac-container {
     padding-bottom: 12px;
     margin-right: 12px;
 }

 .pac-controls {
     display: inline-block;
     padding: 5px 11px;
 }

 .pac-controls label {
     font-family: Roboto;
     font-size: 13px;
     font-weight: 300;
 }

 #autocomplete_search {
     background-color: #fff;
     font-family: Roboto;
     font-size: 20px;
     font-weight: 300;
     margin-right: 50px;
     padding: 0 11px 0 13px;
     text-overflow: ellipsis;
     width: 400px;
     text-align: center;
 }

 #pac-input {
     background-color: #fff;
     font-family: Roboto;
     font-size: 20px;
     font-weight: 300;
     margin-right: 50px;
     padding: 0 11px 0 13px;
     text-overflow: ellipsis;
     width: 400px;
     text-align: center;
 }

 #pac-input:focus {
     border-color: #4d90fe;
 }

 #title {
     color: #fff;
     background-color: #4d90fe;
     font-size: 25px;
     font-weight: 500;
     padding: 6px 12px;
 }

 #target {
     width: 345px;
 }

 #locationField,
 #controls {
     position: relative;
     width: 92%;
     font-size: 20px;
     font-weight: 300;
 }

 #autocomplete {
     position: absolute;
     top: 0px;
     left: 0px;
     width: 100%;
     font-size: 18px;
     font-weight: 300;
     margin-bottom: 10rem;

 }

 .label {
     text-align: right;
     font-weight: bold;
     width: 100px;
     color: #303030;
     font-family: "Roboto";
 }

 #address {
     border: 1px solid #000090;
     background-color: #f0f9ff;
     width: 480px;
     padding-right: 2px;
 }

 #address td {
     font-size: 10pt;
 }

 .field {
     width: 99%;
 }

 .slimField {
     width: 80px;
 }

 .wideField {
     width: 200px;
 }

 #locationField {
     height: 20px;
     margin-bottom: 2px;
 }

 #spinner__main {
     margin-left: 50%;
 }